
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color:#F39399;
    color: aliceblue;
    font-size: clamp(1.8rem, 4vw, 2.8rem);
}

.start-menu{
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#title{
    color: #720026;
}

#start-button{
    padding: 1rem;
    border-radius: 10px;
    background-color: brown;
    width: 20vmin;
    color: wheat;
    text-align: center;
}

.popclass{
    animation: pop 0.6s ease-out;
}

@keyframes pop {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.turn{
    margin-top: 1rem;
    color: #ed1e63;
}

.main-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vmin;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.game{
    height: 50vmin;
    width: 50vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3rem;
}

.button{
    aspect-ratio: 1;
    border-radius: 10%;
    border-style: none;
    background-color: #92003A ;
    color: #F6D8BD;
    font-size: 8vmin;
    animation: an 0.4s ease-out;
}

@keyframes an{
    0%{
        transform: scale(0.6);
        opacity: 0;
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.reset{
    border-radius: 1rem;
    border-color: brown;
    background-color: brown;
    color: #F6D8BD;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2),
    0 0 20px hotpink;
}

.next{
    border-radius: 1rem;
    border-color: brown;
    background-color: brown;
    color: #F6D8BD;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2),
    0 0 20px hotpink;
}

.newgame{
    border-radius: 1rem;
    border-color: brown;
    background-color: brown;
    color: #F6D8BD;
    padding: 1rem;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2),
    0 0 20px hotpink;
}

#msg{
    color: aliceblue;
    font-size: 5vmin;
    margin: 1rem;
}

.msgcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.hide{
    display: none;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    margin: 1rem;
}

.drawmsg{
    color: red;
    margin: 1rem;
    font-size: 5rem;
    animation: pulse 1s infinite;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.scorebutton{
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4),
    0 0 20px hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #FDAB9E;
    color: #7E2553;
}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem;
}

.score-board span{
    font-size: clamp(0.3rem, 1vw, 1rem);
}

.sbmsg{
    font-size: clamp(0.5rem, 2vw, 1.2rem);
}