body{
    text-align: center;
    background-color:#F39399;
    color: aliceblue;;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.button{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10%;
    border-style: none;
    background-color: #92003A ;
    color: #F6D8BD;
    font-size: 8vmin;
}

.reset{
    border-radius: 1rem;
    border-color: brown;
    background-color: brown;
    color: #F6D8BD;
    padding: 1rem;
}





